@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-body: 'Neucha', sans-serif;
		--font-heading: 'Patrick Hand SC', sans-serif;
	}
	@media screen and (min-width: 320px) {
		:where(html) {
			font-size: calc(100% + (2 * ((100vw - 320px) / 960)));
		}
	}

	@media screen and (min-width: 1280px) {
		:where(html) {
			font-size: calc(100% + 2px + (54 * ((100vw - 1280px) / 10000)));
		}
	}

	body {
		font-family: var(--font-body);
	}

	#app {
		display: flex;
		flex-flow: column wrap;
		block-size: 100%;
		inline-size: 100%;
		min-height: 100vh;
	}

	main {
		flex: 1 0 auto;
		display: flex;
		flex-flow: column wrap;
		margin: 0;
		padding: 0 0 2rem 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		--ls-root: -3px;
		font-weight: 400;
		font-family: var(--font-heading);
		letter-spacing: var(--ls-root);
	}
	h1 {
		@apply text-9xl;
		letter-spacing: calc(var(--ls-root) / 4.2);
		line-height: 1;
	}
	h2 {
		@apply text-7xl;
		letter-spacing: calc(var(--ls-root) / 3.33);
		line-height: 1.2;
	}
	h3 {
		@apply text-5xl;
		letter-spacing: calc(var(--ls-root) / 3.14);
		line-height: 1.3;
	}
	h4 {
		@apply text-4xl;
		letter-spacing: calc(var(--ls-root) / 2.34);
		line-height: 1.4;
	}
	h5 {
		@apply text-3xl;
		letter-spacing: calc(var(--ls-root) / 2);
		line-height: 1.5;
	}
	h6 {
		@apply text-2xl;
		letter-spacing: calc(var(--ls-root) / 3);
	}
	p {
		@apply text-sm;
	}
}
